body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    padding: 40px;
    margin: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}